.weather-info {
    position: absolute;
    width: 6rem;
    height: 6rem;
    bottom: 2rem;
    left: 2rem;
    background: black;
}

.weather-icon {
    display: block;
    margin: 0 auto;
    width: 3.5em;
}

.weather-icon img {
    width: 100%;
    height: auto;
}

.weather-temp {
    display: block;
    text-align: center;
}