.map-container {
    height: 1080px;
}

.map-controls {
    position: fixed;
    right: 2rem;
    top: 10rem;
    font-size: 1.5rem;
}

.map-controls button {
    display: block;
    cursor: pointer;
    width: 2em;
    height: 2em;
    margin-bottom: 1rem;
    background-color: #212121;
    color: #fff;
    border: 1px solid #757575;
    font-size: 1em;
}

.icon-label {
    font-size: 1rem;
}

.user-marker {
    width: 1rem;
    height: 1rem;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 100;
    animation: beam 2s ease-out infinite;

}

@keyframes beam {
    0% {
        box-shadow: 0 0px 0px rgba(0, 255, 0, 1);
    }
    100% {
        box-shadow: 0px 0px 100px rgba(0, 255, 0, 0);
    }
}


.bus, .train, .ev_chargers,
.vois, .santander-cycles {
    padding: 2px;
    border-radius: 10%;
    background: yellow;
}

.bus svg path, .train svg path, .ev_chargers svg path {
    fill: blue;
}
